<!DOCTYPE html>
<html>
<head>
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/game.css') }}">  
</head>
<body>
    <a href="/"><i class="material-icons">home</i></a>
    <h1>Number Guessing Game</h1>
    <p>{{ message }}</p>
    <p>Your score: {{ score }}</p>
    <form class="submitForm" method="POST">
        <label for="guess">Enter your guess (1-100):</label>
        <input type="number" name="guess" id="guess" min="1" max="100" required>
        <button class="gbtn" type="submit">Guess</button>
    </form>
</body>
</html>
